@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">The Basist Haven</h1>
        <p class="lead">Welcome basist, Lets slap some basses and keep it loud</p>
        <p><a href="/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Bass guitars are a type of stringed instrument that are primarily used to provide low-frequency bass lines and rhythmic support in various genres of music, including rock, pop, jazz, and funk. They typically have four strings, but variants with five or six strings also exist.
            </p>
            <p>The bass guitar is similar in appearance to an electric guitar, featuring a solid body, a neck with frets, and pickups to capture the sound. However, bass guitars are designed to produce lower-pitched tones and have a longer scale length and thicker strings compared to standard guitars.</p>
       </section>
    </div>
</main>